body {
    background-color: darkcyan;
    color: lightgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    display: inline-block;
}

.sword {
    position: relative;
}

.shield {
    position: relative;
}

.sword::after {
    position: absolute;
    content: "⚔️";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.shield::after {
    position: absolute;
    content: '🛡️';
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button{
    margin-top: 1rem;
    padding: 20px;
    background-color: lightgreen;
    outline: none;
    border: none;
    border-radius: 12px;
    font-weight: 800;
    letter-spacing: 3px;
    transition: .5s;
    cursor: pointer;
}

button:hover{
    scale: 1.2;
}

h2{
    margin-top: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: lightcoral;
}